<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Chicken">
    <meta itemprop="description" content="Chicken est une application de messagerie qui se veut remplacer Discord." />
    <meta itemprop="image" content="https://img.freepik.com/vecteurs-libre/logo-poulet_99536-29.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://farm-project.fr/chicken">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Chicken">
    <meta property="og:description"
        content="Chicken est une application de messagerie qui se veut remplacer Discord." />
    <meta property="og:image" content="https://img.freepik.com/vecteurs-libre/logo-poulet_99536-29.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Chicken">
    <meta name="twitter:description"
        content="Chicken est une application de messagerie qui se veut remplacer Discord." />
    <meta name="twitter:image" content="https://img.freepik.com/vecteurs-libre/logo-poulet_99536-29.jpg">

    <!-- HTML Meta Tags -->
    <meta charset="utf-8" />
    <meta name="description" content="Chicken est une application de messagerie qui se veut remplacer Discord." />
    <meta name="keywords"
        content="discord,thimot,veyre,dorian,turgot,thomas,peugnet,messages,sms,messagerie,instantané">
    <meta name="robots" content="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy"
        content="img-src 'self' data:; default-src 'self' ws://192.168.1.182:9002/">
    <link rel="stylesheet" href="../css/home.css">
    <title>Chicken</title>
    <script src="../js/library/jquery/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- Electron Title Bar -->
    <div class="drag_bar">
        <div class="logo_title">
            <img class="logo_img" src="../images/logo/nomacs_wCrS8ZaXFT.png"></img>
            <h3 class="logo_name">Chicken</h3>
        </div>
        <img src="../images/design/grey/notification.svg" id="bar_notif_icon" class="drag_bar_items notification">
        <h1 class="drag_bar_items message" id="bar_message">Connexion...</h1>
    </div>
    <div class="container">
        <div class="left_container">
            <!-- <div class="logo_container">

            </div> -->
            <div class="mp_container">
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img" title="TEST">
                    <h1 class="mp_item_profile_name">Dorian Turgot Turgot Turgot Turgot Turgot Turgot Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img" title="TEST">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
                <div class="mp_item">
                    <img src="../images/design/grey/account.svg" class="mp_item_profile_img">
                    <h1 class="mp_item_profile_name">Dorian Turgot</h1>
                </div>
            </div>
        </div>
        <div class="right_container">
            <div class="servers_container">
                <div class="srv_item">
                    <img src="../images/design/grey/server.svg" class="srv_item_profile_img">
                </div>
                <div class="srv_item">
                    <img src="../images/design/grey/server.svg" class="srv_item_profile_img">
                </div>
                <div class="srv_item">
                    <img src="../images/design/grey/server.svg" class="srv_item_profile_img">
                </div>
                <div class="srv_item">
                    <img src="../images/design/grey/server.svg" class="srv_item_profile_img">
                </div>
                <div class="srv_item">
                    <img src="../images/design/grey/server.svg" class="srv_item_profile_img">
                </div>
                <div class="srv_item">
                    <img src="../images/design/grey/server.svg" class="srv_item_profile_img">
                </div>
            </div>
            <div class="messages_container" id="messages_container">
                <div class="messages_container_item">
                    <div class="read_messages_container">
                        <div class="receveid_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="receveid_message">
                            <div class="message">How hot are you ?</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">Hi</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">I'm roasting ! That's really fun !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="receveid_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="receveid_message">
                            <div class="message">monsupergrandmotpourdecrireunservicedemessageriequisappellepoulethaha
                            </div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">I'm roasting ! That's really fun !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                    </div>
                    <div class="write_messages_container">
                        <textarea class="message_textarea" placeholder="I am a hot chicken..."></textarea>
                    </div>
                </div>
                <div class="messages_container_item">
                    <div class="read_messages_container">
                        <div class="receveid_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="receveid_message">
                            <div class="message">How hot are you ?</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">I'm roasting ! That's really fun !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="receveid_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="receveid_message">
                            <div class="message">monsupergrandmotpourdecrireunservicedemessageriequisappellepoulethaha
                            </div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">I'm roasting ! That's really fun !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                    </div>
                    <div class="write_messages_container">
                        <textarea class="message_textarea" placeholder="I am a hot chicken..."></textarea>
                    </div>
                </div>
                <div id="last_messages_container_item" class="messages_container_item">
                    <div class="read_messages_container">
                        <div class="receveid_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="receveid_message">
                            <div class="message">How hot are you ?</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">Hi</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">I'm roasting ! That's really fun !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="receveid_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="receveid_message">
                            <div class="message">monsupergrandmotpourdecrireunservicedemessageriequisappellepoulethaha
                            </div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">Hi Chicken !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                        <div class="sent_message">
                            <div class="message">I'm roasting ! That's really fun !</div>
                            <div class="date">24/06 - 22:10</div>
                        </div>
                    </div>
                    <div class="write_messages_container">
                        <textarea class="message_textarea" placeholder="I am a hot chicken..."></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="../js/tools/enums.js"></script>
<script src="../js/tools/query-class.js"></script>
<script src="../js/tools/functions.js"></script>
<script src="../js/home.js"></script>

</html>