body
{
    margin : 0;
    padding : 0;
}

.title_bar 
{
    background-color: #f1f1f1;
    height : 50px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.title_bar-button {
    -webkit-app-region: no-drag;
}
  